#lowBody {
	text-align: center;
	margin-left: 15.5vw;
	height: 100%;
	width: 80vw;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

#header {
	padding-bottom: 1.6vh;
	padding-top: 1.6vh;
}

#header p {
	margin: 0;

	color: black;
	font-size: 6.4vh;
	font-family: "serif";
	font-weight: bold;
	margin-bottom: .64vh;
	
	height: 8vh;

	border: .16vh solid white;
}

#notFooter {
	min-height: 100%;
	margin-bottom: -9.6vh;
	position: relative;
}

#bar {
	background: linear-gradient(#777777, #444444);
	height: 4vh;
}

#midSection {
	
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	width: 100%;
	margin: 0;
	padding: 0;
}

#sidebar {
	background-color: #444444;
	
	width: 11vw;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	
	margin-top: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 3px;

	border: 2px solid black;
	
}

#sidebar button {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 3.2vh;
	font-family: "serif";
	color: grey;
	display: block;
	outline: none;

	background: none;
	border: none;
	width: 100%;
}

#sidebar button:hover {
	background-color: white;
}

#main {
	font-size: 2.88vh;
	width: 80vw;
	margin: 0 auto;
	font-family: 'Spectral', serif;
}

#footer {
	height: 5vh;
	position: relative;
	font-size: 14px;
	font-style: italic;
	padding-top: 1.6vh;
	margin-bottom: 3.25vh;
}

body {
	height:100vh;
}

#clearFooter {
	height: 10vh;
	clear: both;
}


#mainhtml {
	

	
}

#lowhtml {
	margin: 0;
	padding: 0;
	height: 96.8vh;
}

html, body, #lowhtml {margin:0; padding:0}
h1,p, #lowhtml {margin:0 0 1em}