.navbar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#header {
    
}

#spacer {
    
}

#footer {
    
}

#center {
    min-height: 100vh;
}

#headerText {
    font-size: 2.5rem;
}

@media (min-width: 544px) {

}

@media(min-width: 768px) {

}

.side-text {
    color:rgb(235, 235, 235);
}


.nav-pills .nav-link.active {
    background-color: #727070 !important;
}
