
#invisibleBox {
    
}

#chatBox {
    overflow-y:auto;
    height: 50vh;
    
    background-color: white;
    word-wrap: break-word;
}

#chatBody {
   height:65vh;
    
   width: 60vw;
   padding-left: 10vw;
   padding-right: 10vw;
}

#form {
    padding-top: 2vh;
}

.message {
    text-align: left;
    padding-left: 2vh;
}