
#invisibleBox {
    
}

#chatBox {
    overflow-y:auto;
    height: 50vh;
    background-color: white;
}

#chatBody {
   height:65vh;
    
    
}

#form {
    padding-top: 2vh;
}

.message {
    text-align: left;
    padding-left: 2vh;
}