iframe {
    height: 100%;
    width: 100%;
    
}

#iframe {
    text-align: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    width: 75vw;
    height: 80vh;
    padding-top: 1vh;
}

#contents {
    text-align: left;
    padding-top: 1vh;
}

h4 {
    
    padding-left: 1.5vw;
    margin-bottom: 0;
}

.musicLink {
    margin-top: 0;
    padding-left: 2vw;
}