body {
	text-align: center;
	margin-left: 148px;
	background: linear-gradient(white, grey);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#header p {
	color: black;
	font-size: 40px;
	font-family: "serif";
	font-weight: bold;
	padding-top: 5px;
	margin-bottom: 4px;
	
	border: 1px solid white;
}

#bar {
	background: linear-gradient(#777777, #444444);
	height: 25px;
}

#midSection {
	
}

#sidebar {
	background-color: #444444;
	
	width: 140px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	margin-top: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	border: 2px solid black;
	
}

#sidebar a:link {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: grey;
	display: block;
}

a:visited {
	color: grey;
}

a:hover {
	background-color: white;
}

#main {
	font-size: 18px;
	width: 80%;
	margin: 0 auto;
	font-family: 'Spectral', serif;
}

#footer {
	padding-top: 10px;
	font-size: 14px;
	font-style: italic;
}